<h1>This is the home page of my blog app!</h1>

<%= link_to 'About', about_path %> <!-- Must have _path at end to make the link work --> 
<!--If you want the ruby code to render code to the page, must have the = -->